@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/ArialMT.woff2") format("woff2"), url("../../assets/fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial-ItalicMT.woff2") format("woff2"), url("../../assets/fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia.woff2") format("woff2"), url("../../assets/fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.o {
  outline: 1px solid #4a2fa6;
}

* {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

#burger {
  opacity: 0;
  position: fixed;
  left: -2rem;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

h2 {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 130%;
  color: #545454;
  margin: 0;
}

h3 {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

h4 {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

h5 {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.paragraph-l {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
}

.paragraph-s {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 150%;
  color: #B2B2B2;
}

.button {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 10rem;
  width: fit-content;
  padding: 1.5rem 4.5rem;
  color: #292929;
  cursor: pointer;
}
.button-primary {
  background-color: #F1CDB3;
}
.button-secondary {
  border: 2px solid #F1CDB3;
  padding: 1.3rem 4.3rem;
  background: none;
}
.button, .button:active, .button:focus {
  outline: none;
}
.button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

#current_page {
  cursor: auto;
}
#current_page:hover {
  background-color: #F1CDB3;
}

.wrapper {
  width: 120rem;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding-top: 3.1rem;
  padding-bottom: 3rem;
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
}
.header .burger {
  display: none;
  z-index: 3;
}
.header .menu-background {
  display: none;
  z-index: 2;
}
.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  text-decoration: none;
}
.header-logo-title {
  color: #545454;
  font-family: Georgia, serif;
  font-size: 3.2rem;
  font-weight: normal;
  letter-spacing: 0.06em;
  line-height: 110%;
  margin: 0;
}
.header-logo-subtitle {
  font-family: Arial, sans-serif;
  color: #292929;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  line-height: 1.5rem;
  margin-left: 0.2rem;
  margin-top: 0.9rem;
}
.header-menu {
  width: 44.3rem;
  display: flex;
}
.header-menu-list {
  align-items: start;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1.5rem 0 0;
  list-style-type: none;
}
.header-menu-list li:nth-child(n+3) {
  pointer-events: none;
}
.header-menu-list-item {
  display: flex;
  align-items: center;
}
.header-menu-list-item a {
  color: #545454;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 160%;
  text-decoration: none;
}
.header-menu-list-item a:hover {
  color: #292929;
}
.header-menu-list-item-active a {
  color: #292929;
  border-bottom: solid 3px #F1CDB3;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding-top: 18rem;
}
.hero-bg {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.hero-content {
  margin-top: 16.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hero h2 {
  color: #FFFFFF;
  max-width: 31rem;
}
.hero p {
  max-width: 46rem;
  margin: 4.1rem 0 4.2rem;
  color: #CDCDCD;
}
.hero img {
  align-self: flex-end;
}

.about {
  display: flex;
  padding: 8rem 0 10rem;
  justify-content: center;
  align-items: center;
}
.about-content {
  margin-left: 12rem;
  width: 43rem;
}
.about h3 {
  margin: 0.1rem 0 0;
}
.about p {
  margin: 2.4rem 0 0;
}
.about p:last-child {
  margin-top: 2.5rem;
}

.friends {
  background-color: #F6F6F6;
}
.friends .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0 10rem;
}
.friends-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 3rem;
  margin: 6rem 0;
}
.friends-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 0.9rem;
  transition: all 1s ease-in-out;
}
.friends-card:hover {
  box-shadow: 0 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
}
.friends-card h4 {
  margin: 0;
}
.friends-card img {
  border-radius: 0.9rem 0.9rem 0 0;
  margin-bottom: 3rem;
}
.friends-card button {
  margin: 3rem 0 3rem;
}
.friends h3 {
  width: 40rem;
  text-align: center;
  margin: 0;
}
.friends .pagination {
  display: flex;
  column-gap: 2rem;
}
.friends .pagination .button {
  font-size: 2rem;
  letter-spacing: 0.06em;
  width: 5.2rem;
  height: 5.2rem;
  padding: 0;
}
.friends .pagination button:disabled {
  color: #CDCDCD;
  border-color: #CDCDCD;
  background: none;
  cursor: default;
}

footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
footer .wrapper {
  display: flex;
  row-gap: 4rem;
  justify-content: space-between;
  padding-top: 4rem;
}
footer h3 {
  color: #FFFFFF;
  margin-top: 1.7rem;
}
footer .contacts, footer .locations {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  width: 28rem;
}
footer .contacts img, footer .locations img {
  margin-right: 2rem;
}
footer .locations {
  row-gap: 3.3rem;
  width: 30.2rem;
}
footer h4 {
  color: #F1CDB3;
}
footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
footer a:hover {
  color: #FAFAFA;
}
footer a:hover > h4 {
  color: #FAFAFA;
}
footer a img {
  height: 3.2rem;
}

.menu-mobile {
  display: none;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #0009;
}
.modal:hover button {
  background-color: #FDDCC4;
}
.modal-panel {
  width: 90rem;
  height: 50rem;
  display: flex;
  background-color: #FAFAFA;
  border-radius: 12px;
  position: relative;
}
.modal-panel:hover button {
  background-color: transparent;
}
.modal-photo {
  width: 50rem;
  background-size: cover;
  border-radius: 12px;
}
.modal-photo img {
  width: 50rem;
  height: 50rem;
  border-radius: 12px;
}
.modal-desc-container {
  width: 40rem;
  margin: 5rem 2rem 0 2.9rem;
}
.modal-desc-container h3, .modal-desc-container h4, .modal-desc-container h5, .modal-desc-container p {
  color: black;
}
.modal-desc-container h4 {
  margin-top: 1rem;
}
.modal-desc-container h5 {
  margin: 0;
  letter-spacing: 0.12em;
}
.modal-desc-container p {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: 0.06em;
  margin: 4rem 0;
}
.modal-desc-container ul {
  list-style-position: outside;
  padding-left: 1.5rem;
}
.modal-desc-container li {
  color: #F1CDB3;
  margin-top: 1.3rem;
  margin-bottom: 0;
}
.modal-desc-container li::marker {
  font-size: 1.5rem;
}
.modal .modal-close {
  position: absolute;
  top: -5.2rem;
  right: -4.2rem;
  width: 5.2rem;
  height: 5.2rem;
  padding: 0;
  background-image: url("../../assets/icons/Close.svg");
  background-repeat: no-repeat;
  background-position: 1.7rem;
}
.modal .modal-close:hover {
  background-color: #FDDCC4;
}

/*# sourceMappingURL=styles.css.map */
