$color-primary: #F1CDB3;
$color-light-s: #FAFAFA;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;

.wrapper {
  width: 30rem;
}

.h3-mobile {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
}

.header-menu {
  display: none;
}

.header .burger {
  display: block;
  align-self: center;
  margin-right: 4.3rem;
  margin-top: .1rem;
}

.friends {
  &-card:nth-child(n+4) {
    display: none;
  }

  .wrapper {
    padding-top: 4.2rem;
    padding-bottom: 4.4rem;
  }

  &-container {
    margin-top: 4.2rem;
    width: 27rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .pagination {
    column-gap: 1rem;
}
}

footer {

  .wrapper{
    align-content: flex-start;
    row-gap: normal;
    padding-top: 1.3rem;
  }

  h3{
    font-size: 2.5rem;
    text-align: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .contacts {
    align-items: center;

  }

  .locations {
    margin-top: 2.2rem;
    width: 30.2rem;

    a {
      margin-top: .7rem;
    }
  }

  .wrapper>img{
    margin-top: 4.1rem;
    width: 26rem;
  }
}

.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -32rem;
  transition-duration: .25s;
  background-color: $color-dark-3xl;
  overflow: hidden;
  z-index: 1;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    height: 32.7rem;

    li:nth-child(n + 3){ //
      pointer-events: none;
    }
  }

  a {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 160%;
    text-decoration: none;
    color: $color-dark-s;
  }

  .menu-active{
    border-bottom: .3rem solid $color-primary;

    a {
      color: $color-light-s;
    }
  }
}

.menu-background {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #000A;
  position: absolute;
  top: 0;
  transition-duration: 2s;
}

#burger:checked ~ .header {
  position: absolute;
}

#burger:checked ~ .header .header-logo-title {
  color: $color-primary;
}

#burger:checked ~ .header .header-logo-subtitle {
  color: $color-light-xl;
}

#burger:checked ~ .header img{
  transform: rotate(90deg);
  transition-duration: .5s;
}

#burger:checked ~ .menu-mobile {
  right: 0;
  transition-duration: .25s;
}

#burger:checked ~ .menu-background {
  display: block;
}

#burger:checked ~ * {
  overflow: hidden;
}

label img{
  transition-duration: .5s;
}

.modal {
  &-panel {
    width: 24rem;
    height: auto;
    min-height: 34.1rem;
  }

  &-photo {
    display: none;
  }

  &-desc-container {
    width: 22rem;
    margin: 1rem .9rem 0 1.1rem;

    h3, h4 {
      text-align: center;
    }
    p {
      text-align: justify;
      font-size: 1.3rem;
      margin: 2.1rem 0 2.3rem;
    }

    li {
      margin-top: .7rem;
    }

  }
}