.wrapper {
  width: 30rem;
}

.h3-mobile {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
}

.header-menu {
  display: none;
}

.header .burger {
  display: block;
  align-self: center;
  margin-right: 4.3rem;
  margin-top: 0.1rem;
}

.friends-card:nth-child(n+4) {
  display: none;
}
.friends .wrapper {
  padding-top: 4.2rem;
  padding-bottom: 4.4rem;
}
.friends-container {
  margin-top: 4.2rem;
  width: 27rem;
}
.friends h3 {
  font-size: 2.5rem;
}
.friends .pagination {
  column-gap: 1rem;
}

footer .wrapper {
  align-content: flex-start;
  row-gap: normal;
  padding-top: 1.3rem;
}
footer h3 {
  font-size: 2.5rem;
  text-align: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
footer .contacts {
  align-items: center;
}
footer .locations {
  margin-top: 2.2rem;
  width: 30.2rem;
}
footer .locations a {
  margin-top: 0.7rem;
}
footer .wrapper > img {
  margin-top: 4.1rem;
  width: 26rem;
}

.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -32rem;
  transition-duration: 0.25s;
  background-color: #292929;
  overflow: hidden;
  z-index: 1;
}
.menu-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  height: 32.7rem;
}
.menu-mobile ul li:nth-child(n+3) {
  pointer-events: none;
}
.menu-mobile a {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 160%;
  text-decoration: none;
  color: #CDCDCD;
}
.menu-mobile .menu-active {
  border-bottom: 0.3rem solid #F1CDB3;
}
.menu-mobile .menu-active a {
  color: #FAFAFA;
}

.menu-background {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #000A;
  position: absolute;
  top: 0;
  transition-duration: 2s;
}

#burger:checked ~ .header {
  position: absolute;
}

#burger:checked ~ .header .header-logo-title {
  color: #F1CDB3;
}

#burger:checked ~ .header .header-logo-subtitle {
  color: #FFFFFF;
}

#burger:checked ~ .header img {
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

#burger:checked ~ .menu-mobile {
  right: 0;
  transition-duration: 0.25s;
}

#burger:checked ~ .menu-background {
  display: block;
}

#burger:checked ~ * {
  overflow: hidden;
}

label img {
  transition-duration: 0.5s;
}

.modal-panel {
  width: 24rem;
  height: auto;
  min-height: 34.1rem;
}
.modal-photo {
  display: none;
}
.modal-desc-container {
  width: 22rem;
  margin: 1rem 0.9rem 0 1.1rem;
}
.modal-desc-container h3, .modal-desc-container h4 {
  text-align: center;
}
.modal-desc-container p {
  text-align: justify;
  font-size: 1.3rem;
  margin: 2.1rem 0 2.3rem;
}
.modal-desc-container li {
  margin-top: 0.7rem;
}

/*# sourceMappingURL=styles320.css.map */
