body {
  overflow-x: hidden;
}

.wrapper {
  width: 70.8rem;
}

.friends-card:nth-child(n+7) {
  display: none;
}
.friends-container {
  width: 58rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.friends .wrapper {
  padding-bottom: 7.6rem;
}

footer .wrapper {
  flex-wrap: wrap;
  column-gap: 6rem;
  row-gap: 6.4rem;
  justify-content: center;
  padding-top: 1.4rem;
}
footer .contacts {
  width: 27.9rem;
}
footer .locations {
  width: 30.2rem;
}

.modal-panel {
  width: 63rem;
  height: 35rem;
}
.modal-photo {
  width: 35rem;
  border-radius: 9px;
}
.modal-photo img {
  width: 35rem;
  height: 35rem;
  border-radius: 9px;
}
.modal-desc-container {
  width: 40rem;
  margin: 1rem 0.9rem 0 1.1rem;
}
.modal-desc-container p {
  font-size: 1.3rem;
  margin: 2.1rem 0 2.1rem;
}
.modal-desc-container li {
  margin-top: 0.7rem;
}

/*# sourceMappingURL=styles768.css.map */
