$color-primary: #F1CDB3;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;

.wrapper {
  width: 30rem;
}

.h3-mobile {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
}

.header-menu {
  display: none;
}

.header .burger {
  display: block;
  align-self: center;
  margin-right: 4.3rem;
  margin-top: .2rem;
}

.hero {
  &-content {
    align-items: center;
  }

  h2 {
    font-size: 2.5rem;
    letter-spacing: 0.06em;
    text-align: center;
    width: 70%;
    margin-left: .2rem;
  }

  p {
    text-align: center;
  }

  img {
    width: 26rem;
    margin-top: 10.6rem;
  }
}

.about {
  padding: 4.1rem 0 4.2rem;

  h3{
    font-size: 2.5rem;
    letter-spacing: 0.06em;
    text-align: center;
    margin-left: .2rem;
  }
  &-content {
    width: 27rem;
    margin-bottom: 4.1rem;
  }

  p {
    text-align: justify;
    margin-top: 2.5rem;

    &:last-child {
      margin-top: 2.2rem;
    }
  }

  img {
    width: 26rem;
  }
}

.friends {

  padding: 0;

  .wrapper {
    padding: 4.2rem 0;
  }

  h3 {
    font-size: 2.5rem;
  }

  &-panel {
    width: 27rem;
    top:0;
  }

  &-container {
    flex-wrap: wrap;
    justify-content: center;
    margin: 4.2rem 0;
    row-gap: 2rem;
    column-gap: 8rem;
    overflow: visible;
    height: 45.5rem;
  }

  &-slider {
    order: -1;
    width: 27rem;
    height: 43.5rem;
    justify-content: center;
  }

  .button.button-primary{
    margin-top: 5.2rem;
  }

  &-card:nth-child(3n-1) {
    display: none;
  }
}

.help {
  padding: 4.2rem 0 1.2rem;

  ul {
    width: 29rem;
    margin-top: 4.2rem;
  }

  li {
    padding: 0;
    width: 13rem;
  }

  h3 {
    font-size: 2.5rem;
    width: 23rem;
  }

  h4 {
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
  }

  img {
    height: 5rem;
  }
}

.donate {
  .wrapper {
    padding: 4.2rem 0;
  }

  h3 {
    font-size: 2.5rem;
    text-align: center;
    width: 21rem;
    margin: 0 auto 2.4rem;
  }

  &-content {
    width: 28rem;
    margin: 0;
  }

  .credit-card {
    margin: 2.4rem 0 .5rem;
    width: 28.1rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 155%;
  }

  h5 {
    letter-spacing: 0;
    text-align: center;
  }

  img {
    width: 26rem;
  }

  .credit-card-icon {
    width: 3rem;
  }

  .paragraph-s {
    width: auto;
    text-align: justify;
    margin-bottom: 4.3rem;
  }
}

footer {

  .wrapper{
    align-content: flex-start;
    row-gap: normal;
  }

  h3{
    font-size: 2.5rem;
    text-align: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }


  .contacts {
    align-items: center;

  }

  .locations {
    margin-top: 2.2rem;
    width: 30.2rem;

    a {
      margin-top: .7rem;
    }
  }

  .wrapper>img{
    margin-top: 4rem;
    width: 26rem;
  }
}

.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -32rem;
  transition-duration: .25s;
  background-color: $color-dark-3xl;
  overflow: hidden;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    height: 32.7rem;

    li:nth-child(n + 3){ //
      pointer-events: none;
    }
  }

  a {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 160%;
    text-decoration: none;
    color: $color-dark-s;
  }

  .menu-active{
    border-bottom: .3rem solid $color-primary;

    a {
      color: $color-light-s;
    }
  }
}

.menu-background {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #000A;
  position: absolute;
  top: 0;
  transition-duration: 2s;
}

#burger {
  position: absolute;
  top: 0;
}

#burger:checked ~ .header img{
  transform: rotate(90deg);
  transition-duration: .5s;
}

#burger:checked ~ .menu-mobile {
  right: 0;
  transition-duration: .25s;
}

#burger:checked ~ .menu-background {
  display: block;
}

#burger:checked ~ * {
  overflow: hidden;
}

label img{
  transition-duration: .5s;
}

.modal {
  &-panel {
    width: 24rem;
    height: auto;
    min-height: 34.1rem;
  }

  &-photo {
    display: none;
  }

  &-desc-container {
    width: 22rem;
    margin: 1rem .9rem 0 1.1rem;

    h3, h4 {
      text-align: center;
    }
    p {
      text-align: justify;
      font-size: 1.3rem;
      margin: 2.1rem 0 2.3rem;
    }

    li {
      margin-top: .7rem;
    }

  }
}