.wrapper {
  width: 30rem;
}

.h3-mobile {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
}

.header-menu {
  display: none;
}

.header .burger {
  display: block;
  align-self: center;
  margin-right: 4.3rem;
  margin-top: 0.2rem;
}

.hero-content {
  align-items: center;
}
.hero h2 {
  font-size: 2.5rem;
  letter-spacing: 0.06em;
  text-align: center;
  width: 70%;
  margin-left: 0.2rem;
}
.hero p {
  text-align: center;
}
.hero img {
  width: 26rem;
  margin-top: 10.6rem;
}

.about {
  padding: 4.1rem 0 4.2rem;
}
.about h3 {
  font-size: 2.5rem;
  letter-spacing: 0.06em;
  text-align: center;
  margin-left: 0.2rem;
}
.about-content {
  width: 27rem;
  margin-bottom: 4.1rem;
}
.about p {
  text-align: justify;
  margin-top: 2.5rem;
}
.about p:last-child {
  margin-top: 2.2rem;
}
.about img {
  width: 26rem;
}

.friends {
  padding: 0;
}
.friends .wrapper {
  padding: 4.2rem 0;
}
.friends h3 {
  font-size: 2.5rem;
}
.friends-panel {
  width: 27rem;
  top: 0;
}
.friends-container {
  flex-wrap: wrap;
  justify-content: center;
  margin: 4.2rem 0;
  row-gap: 2rem;
  column-gap: 8rem;
  overflow: visible;
  height: 45.5rem;
}
.friends-slider {
  order: -1;
  width: 27rem;
  height: 43.5rem;
  justify-content: center;
}
.friends .button.button-primary {
  margin-top: 5.2rem;
}
.friends-card:nth-child(3n-1) {
  display: none;
}

.help {
  padding: 4.2rem 0 1.2rem;
}
.help ul {
  width: 29rem;
  margin-top: 4.2rem;
}
.help li {
  padding: 0;
  width: 13rem;
}
.help h3 {
  font-size: 2.5rem;
  width: 23rem;
}
.help h4 {
  font-size: 1.5rem;
  margin: 2rem 0 3rem;
}
.help img {
  height: 5rem;
}

.donate .wrapper {
  padding: 4.2rem 0;
}
.donate h3 {
  font-size: 2.5rem;
  text-align: center;
  width: 21rem;
  margin: 0 auto 2.4rem;
}
.donate-content {
  width: 28rem;
  margin: 0;
}
.donate .credit-card {
  margin: 2.4rem 0 0.5rem;
  width: 28.1rem;
}
.donate h4 {
  font-size: 1.5rem;
  line-height: 155%;
}
.donate h5 {
  letter-spacing: 0;
  text-align: center;
}
.donate img {
  width: 26rem;
}
.donate .credit-card-icon {
  width: 3rem;
}
.donate .paragraph-s {
  width: auto;
  text-align: justify;
  margin-bottom: 4.3rem;
}

footer .wrapper {
  align-content: flex-start;
  row-gap: normal;
}
footer h3 {
  font-size: 2.5rem;
  text-align: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
footer .contacts {
  align-items: center;
}
footer .locations {
  margin-top: 2.2rem;
  width: 30.2rem;
}
footer .locations a {
  margin-top: 0.7rem;
}
footer .wrapper > img {
  margin-top: 4rem;
  width: 26rem;
}

.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -32rem;
  transition-duration: 0.25s;
  background-color: #292929;
  overflow: hidden;
}
.menu-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  height: 32.7rem;
}
.menu-mobile ul li:nth-child(n+3) {
  pointer-events: none;
}
.menu-mobile a {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 160%;
  text-decoration: none;
  color: #CDCDCD;
}
.menu-mobile .menu-active {
  border-bottom: 0.3rem solid #F1CDB3;
}
.menu-mobile .menu-active a {
  color: #FAFAFA;
}

.menu-background {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #000A;
  position: absolute;
  top: 0;
  transition-duration: 2s;
}

#burger {
  position: absolute;
  top: 0;
}

#burger:checked ~ .header img {
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

#burger:checked ~ .menu-mobile {
  right: 0;
  transition-duration: 0.25s;
}

#burger:checked ~ .menu-background {
  display: block;
}

#burger:checked ~ * {
  overflow: hidden;
}

label img {
  transition-duration: 0.5s;
}

.modal-panel {
  width: 24rem;
  height: auto;
  min-height: 34.1rem;
}
.modal-photo {
  display: none;
}
.modal-desc-container {
  width: 22rem;
  margin: 1rem 0.9rem 0 1.1rem;
}
.modal-desc-container h3, .modal-desc-container h4 {
  text-align: center;
}
.modal-desc-container p {
  text-align: justify;
  font-size: 1.3rem;
  margin: 2.1rem 0 2.3rem;
}
.modal-desc-container li {
  margin-top: 0.7rem;
}

/*# sourceMappingURL=styles320.css.map */
