$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

//Fonts
@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/ArialMT.woff2') format('woff2'),
        url('../../assets/fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/Arial-ItalicMT.woff2') format('woff2'),
        url('../../assets/fonts/Arial-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia.woff2') format('woff2'),
        url('../../assets/fonts/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.o {outline: 1px solid rgb(random(255), random(255), random(255));}

//General styles
* {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

#burger {
  opacity: 0;
  position: fixed;
  left: -2rem;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
h2 {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 130%;
  color: $color-dark-l;
  margin: 0;
}
h3 {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-l;
  margin: 0;
}
h4 {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $color-dark-l;
  margin: 0;
}
h5 {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: $color-dark-l;
}
.paragraph-l {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: $color-dark-xl;
}
.paragraph-s {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 150%;

  color: $color-dark-m;
}
.button {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 10rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5rem 4.5rem;

  color: $color-dark-3xl;
  cursor: pointer;


  &-primary {
    background-color: $color-primary;
  }

  &-secondary {
    border: .2rem solid $color-primary;
    padding: 1.3rem 4.3rem;
    background: none;
  }

  &:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }

  &, &:active, &:focus {
    outline: none;
  }
}

.wrapper {
  width: 120rem;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 6rem;
  margin-top: 6.1rem;
  position: absolute;

  & .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .burger{
    display: none;
    z-index: 3;
  }
  .menu-background {
    display: none;
    z-index: 2;
  }

  &-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;

    &-title {
      color: $color-primary;
      font-family: Georgia, serif;
      font-size: 3.2rem;
      font-weight:normal;
      letter-spacing: .06em;
      line-height: 110%;
      margin: 0;
    }

    &-subtitle {
      font-family: Arial, sans-serif;
      color: $color-light-xl;
      font-size: 1.3rem;
      letter-spacing: .1em;
      line-height: 1.5rem;
      margin-left: .2rem;
      margin-top: .9rem;

    }
  }

  &-menu {
    width: 44.3rem;
    display: flex;

    &-list {
      align-items: start;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 1.5rem 0 0;
      list-style-type: none;

      li:nth-child(n + 3){
        pointer-events: none;
      }

      &-item {
        display: flex;
        align-items: center;

        a {
          color: $color-dark-s;
          font-family: Arial, sans-serif;
          font-size: 1.5rem;
          line-height: 160%;
          text-decoration: none;

          &:hover {
            color: $color-light-s;
          }
        }

        &-active {
          a {
            color: $color-light-s;
            border-bottom: solid .3rem $color-primary-light;
}}}}}}

.hero {
  display: flex;
  justify-content: space-between;
  padding-top: 18rem;

  &-bg {
    background: url('../../assets/images/noise_transparent@2x.png'),
      radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
      #211F20;
  }

  &-content {
    margin-top: 16.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  h2 {
    color: $color-light-xl;
    max-width: 31rem;
  }

  p {
    max-width: 46rem;
    margin: 4.1rem 0 4.2rem;
    color: $color-dark-s;
  }

  img {
    align-self: flex-end;
  }
}

.about {
    display: flex;
    padding: 8rem 0 10rem;
    justify-content: center;
    align-items: center;

  &-content {
    margin-left: 12rem;
    width: 43rem;
  }

  h3 {
    margin: .1rem 0 0;
  }

  p {
    margin: 2.4rem 0 0;

    &:last-child {
      margin-top: 2.5rem;
    }
  }
}

.friends {
  background-color: $color-light-l;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0 10rem;
  }

  &-container {
    display: flex;
    align-items: center;
    padding: 0; ////////////////
    overflow: hidden;
    height: 55.5rem;

    .button-left, .button-right {
      width: 5.2rem;
      height: 5.2rem;
      padding: 0;
      background-image: url("../../assets/icons/Arrow.svg");
      background-repeat: no-repeat;
      background-position: 1.7rem;
      position: relative;
      z-index: 2;
    }

    .button-right {
      transform: scaleX(-1);
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-light-s;
    border-radius: 0.9rem;

    &:hover{
      box-shadow: 0 .2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
      background-color: $color-light-xl;
    }

    h4 {
      margin: 0;
    }

    img {
      border-radius: .9rem .9rem 0 0;
      margin-bottom: 3rem;
    }

    button {
      margin: 3rem 0 3rem;
    }
  }

  h3 {
    width: 40rem;
    text-align: center;
    margin: 0;
  }

  &-slider {
    margin: 0;
    width: 109.6rem;
    height: 55.5rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  .slider-hidden{
    transform: scaleX(0);
    width: 0;
  }

  &-panel {
    position: absolute;
    top:6rem;
    ///left:-100%;
    margin: 0 5.3rem;
    height: 43.5rem;
    width: 99rem;
    display: flex;
    column-gap: 9rem;
    justify-content: space-between;
  }

  @-webkit-keyframes slide-left {
    from {transform: translate(0); }
    to {transform: translate(-100%); }
  }

  @keyframes slide-left {
    from {transform: translate(0); }
    to {transform: translate(-100%); }
  }

  @-webkit-keyframes slide-right {
    from {transform: translate(-100%); }
    to {transform: translate(0); }
  }

  @keyframes slide-right {
    from {transform: translate(-100%); }
    to {transform: translate(0); }
  }

  &-slide-left {
    -webkit-animation: slide-left .5s forwards ease-out;
            animation: slide-left .5s forwards ease-out; }

  &-slide-right {
    -webkit-animation: slide-right .5s forwards ease-out;
          animation: slide-right .5s forwards ease-out; }

}

.help {
  padding: 8rem 0 10.3rem;

  h3 {
    width: 31rem;
    text-align: center;
    margin: 0 auto;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
  }

  li {
    padding: 6rem 6rem 0;
    display: flex;
    flex-direction: column;
  }

  h4 {
    margin: 3rem 0 -0.4rem;
    text-align: center;
  }
}

.donate {
  background-color: $color-light-l;

  .wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 8rem 14.2rem 10rem 14.3rem;
  }

  &-content {
    margin-left: 3rem;
    width: 38rem;
  }

  h3 {
    width: 80%;
    margin-top: .1rem;
  }

  h5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .credit-card {
    display: flex;
    justify-content: center;
    background-color: $color-primary;
    border-radius: .9rem;
    padding: 1rem 1.5rem;
    width: 35rem;
    text-decoration: none;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  .credit-card-icon {
    margin-right: 1.5rem;
  }

  .paragraph-s {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}

footer {
  background: url(../../assets/images/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
  #211F20;

  .wrapper {
    display: flex;
    row-gap: 4rem;
    justify-content: space-between;
    padding-top: 4rem;
  }

  h3 {
    color: $color-light-xl;
    margin-top: 1.7rem;
  }

  .contacts, .locations {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    width: 28rem;

    img {
     margin-right: 2rem;
    }
  }

  .locations {
    row-gap: 3.3rem;
    width: 30.2rem;
  }

  h4 {
    color: $color-primary;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover {
      color: $color-light-s;

      &>h4{
        color: $color-light-s;
      }

    }

    img {
      height: 3.2rem;
    }
  }
}

.menu-mobile {
  display: none;
}

.modal {
  display: none;
  //display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  //top:0;
  width: 100vw;
  height: 100vh;
  background-color: #0009;
  z-index: 3;

    &:hover button{
      background-color: $color-primary-light;
    }

  &-panel {
    width: 90rem;
    height: 50rem;
    display: flex;
    background-color: $color-light-s;
    border-radius: 12px;
    position: relative;

    &:hover button{
      background-color: transparent;
    }
  }

  &-photo {
    width: 50rem;
    background-size: cover;
    border-radius: 12px;

    img {
      width: 50rem;
      height: 50rem;
      border-radius: 12px;
    }
  }

  &-desc-container {
    width: 40rem;
    margin: 5rem 2rem 0 2.9rem;

    h3, h4, h5, p  {
      color: black;
    }
    h4 {
      margin-top: 1rem;
    }
    h5 {
      margin: 0;
      letter-spacing: 0.12em;
    }

    p {
      font-family: Georgia, serif;
      font-weight: normal;
      font-size: 1.5rem;
      letter-spacing: 0.06em;
      margin: 4rem 0;
    }

    ul {
      list-style-position: outside;
      padding-left: 1.5rem;
    }

    li {
      color: $color-primary;
      margin-top: 1.3rem;
      margin-bottom: 0;

      &::marker {
        font-size: 1.5rem;
      }
    }
  }

  .modal-close {
    position: absolute;
    top: -5.2rem;
    right: -4.2rem;
    width: 5.2rem;
    height: 5.2rem;
    padding: 0;
    background-image: url("../../assets/icons/Close.svg");
    background-repeat: no-repeat;
    background-position: 1.7rem;

    &:hover{
      background-color: $color-primary-light;
    }
  }
}
