$color-primary: #F1CDB3;

body {
  overflow-x: hidden;
}

.wrapper {
  width: 70.8rem;
}

.header {
  margin-top: 3.1rem;
}

.hero {
  flex-direction: column;
  padding-top: 15.1rem;

  button {
    align-self: center;
  }

  &-content {
    margin: 0 auto;
  }

  img {
    width: 56.9rem;
    margin-top: 10rem;
  }
}

.about {
  flex-direction: column-reverse;

  &-content {
    margin-left: 0;
    margin-bottom: 8rem;
  }
}

.friends {
  &-panel {
    margin: 0 1.2rem;
    width: 58rem;
    column-gap: 4rem;

  }

  &-card:nth-child(3n) {
    display: none;
  }

  &-slider {
    width: 60.4rem;
    //overflow: hidden;
    //height: 43.5rem;
    display: flex;
    //justify-content: flex-start;
    //position: absolute;
  }
}

.help {
  padding: 8rem 0 10.4rem;

  ul {
    width: 63rem;
    margin: 0 auto;
    justify-content: space-between;
  }

  li {
    width: 17rem;
    padding: 6rem 0 0;
  }

  h4 {
    margin: 3rem 0 -0.5rem;
  }
}

.donate {
  .wrapper {
    flex-direction: column-reverse;
  }

  &-content {
    margin-left: 0;
  }

  h3 {
    width: 80%;
    margin-top: .2rem;
  }

  .paragraph-s {

    width: 38rem;
    margin-bottom: 6rem;
  }
}

footer {
  .wrapper {
    flex-wrap: wrap;
    column-gap: 6rem;
    row-gap: 6.4rem;
    justify-content: center;
    padding-top: 1.4rem;
  }

  .contacts {
    width: 27.9rem;
  }

  .locations {
    width: 30.2rem;
  }
}

.modal {
  &-panel {
    width: 63rem;
    height: 35rem;
  }

  &-photo {
    width: 35rem;
    border-radius: 9px;

    img {
      width: 35rem;
      height: 35rem;
      border-radius: 9px;
    }
  }

  &-desc-container {
    width: 40rem;
    margin: 1rem .9rem 0 1.1rem;

    p {
      font-size: 1.3rem;
      margin: 2.1rem 0 2.1rem;
    }

    li {
      margin-top: .7rem;
    }

  }
}
