body {
  overflow-x: hidden;
}

.wrapper {
  width: 70.8rem;
}

.header {
  margin-top: 3.1rem;
}

.hero {
  flex-direction: column;
  padding-top: 15.1rem;
}
.hero button {
  align-self: center;
}
.hero-content {
  margin: 0 auto;
}
.hero img {
  width: 56.9rem;
  margin-top: 10rem;
}

.about {
  flex-direction: column-reverse;
}
.about-content {
  margin-left: 0;
  margin-bottom: 8rem;
}

.friends-panel {
  margin: 0 1.2rem;
  width: 58rem;
  column-gap: 4rem;
}
.friends-card:nth-child(3n) {
  display: none;
}
.friends-slider {
  width: 60.4rem;
  display: flex;
}

.help {
  padding: 8rem 0 10.4rem;
}
.help ul {
  width: 63rem;
  margin: 0 auto;
  justify-content: space-between;
}
.help li {
  width: 17rem;
  padding: 6rem 0 0;
}
.help h4 {
  margin: 3rem 0 -0.5rem;
}

.donate .wrapper {
  flex-direction: column-reverse;
}
.donate-content {
  margin-left: 0;
}
.donate h3 {
  width: 80%;
  margin-top: 0.2rem;
}
.donate .paragraph-s {
  width: 38rem;
  margin-bottom: 6rem;
}

footer .wrapper {
  flex-wrap: wrap;
  column-gap: 6rem;
  row-gap: 6.4rem;
  justify-content: center;
  padding-top: 1.4rem;
}
footer .contacts {
  width: 27.9rem;
}
footer .locations {
  width: 30.2rem;
}

.modal-panel {
  width: 63rem;
  height: 35rem;
}
.modal-photo {
  width: 35rem;
  border-radius: 9px;
}
.modal-photo img {
  width: 35rem;
  height: 35rem;
  border-radius: 9px;
}
.modal-desc-container {
  width: 40rem;
  margin: 1rem 0.9rem 0 1.1rem;
}
.modal-desc-container p {
  font-size: 1.3rem;
  margin: 2.1rem 0 2.1rem;
}
.modal-desc-container li {
  margin-top: 0.7rem;
}

/*# sourceMappingURL=styles768.css.map */
