* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oxygen', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem 1rem;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: gray;
  background-image: url("assets/images/default.jpg");
  color: white;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 1);
  transition: background-image 1s ease-in-out;
}

.overlay {
  background-image: url("assets/images/overlay.png");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

time {
  font-size: 8em;
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  opacity: .8;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);

  span {
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-name: dotsblink;
    display: inline-block;
  }
  @keyframes dotsblink {
    from {
      opacity: .5;
      transform: scale(1);
    }
    to {
      opacity: 0.7;
      transform: scale(.9);
    }
  }
}

.date {
  font-size: 2.5em;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
  font-size: 1.7em;

  &.question {
    opacity: .7;
    font-size: 1.4em;
  }
}

.reload {
  position: fixed;
  left: 2rem;
  top: 2rem;
  z-index: 1;
  transition-duration: .7s;

  &:hover {
    transform: rotate(90deg);
    transition-duration: .7s;
  }
}

.name, .focus, .city {
  min-width: 2rem;
  display: inline-block;

  &:hover {
    text-decoration: underline dashed #FFF6;
    cursor: pointer;
    transition-duration: .8s;
  }
}

.weather {
  font-size: 1.5em;
  height: 10rem;
  opacity: 0;
  transition-duration: 1s;
}

.weather-icon{
  font-size: 3em;
  display: block;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 1);
}

.temperature {
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 1);
  margin-top: .8rem;
}

.city {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 1);
  font-weight: bold;
  font-size: 1.3em;
}

.container {
  height: 24rem;
}

.weather-container {
  margin-top: -.7rem;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.weather-windspeed{
  margin: .3rem 0;
}

.reload-phrase {
  position: fixed;
  bottom: 2rem;

  margin-top: -1rem;
  width: 2rem;
  transition-duration: .7s;

  &:hover {
    transform: rotate(90deg);
    transition-duration: .7s;
  }
}

.phrase-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height:160px;

  opacity: 0;
  transition-duration: 1s;
}

.dayphrase {
  font-family: 'La Belle Aurore', cursive;
  font-size: 2.5em;
  line-height: 110%;
  max-width: 100%;
}

.dayphrase-author{
  font-family: 'La Belle Aurore', cursive;
  font-size: 1.7em;
  width: 100%;
  text-align: right;
}

.show {
  opacity: 1;
  transition-duration: 1s;
}

@media (max-width: 700px), (max-height: 900px) {
  body {
    justify-content: space-around;
  }

  h1 {
    margin-bottom: 1rem;
  }

  time {
    font-size: 5em;
  }

  .container {
    font-size: .65em;
    height: auto;
  }


  .weather {
    font-size: 1em;
    height: 6.5rem;
  }

  .phrase-container{
    font-size: .7em;
    height: 7rem;

  }
}