@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
       url('fonts/poppins-v13-latin-ext_latin_devanagari-600.woff2') format('woff2'),
       url('fonts/poppins-v13-latin-ext_latin_devanagari-600.woff') format('woff');
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight:600;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(15deg, #224, #eee8ee, #345);
}

.calculator-grid {

  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(6, 100px);
}

.calculator-grid > button {
  color: #715151;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background: radial-gradient(circle at 35px 40px, #eef, #ccd);
}

.calculator-grid > button:hover {
  background: radial-gradient(circle at 35px 40px, #eef, #dde);
}

.calculator-grid > .number {
  background: radial-gradient(circle at 35px 40px, #edd, #e2cbcb);
  color: #900;
}

.calculator-grid > .number:hover {
  background: radial-gradient(circle at 35px 40px, #ece5e5, #dcd3d3);
  color: #900;
}

.calculator-grid > .equal {
  background: radial-gradient(circle at 35px 40px, #686592, #292531);
  color: white;
}

.calculator-grid > .equal:hover {
  background: radial-gradient(circle at 35px 40px, #726fa1, #383244);
  color: white;
}

.calculator-grid > .clear {
  background: radial-gradient(circle at 35px 40px, #d98787, #d06767);
  color: white;
}

.calculator-grid > .clear:hover {
  background: radial-gradient(circle at 35px 40px, #ec9292, #e57171);
  color: white;
}

.span-two {
  grid-row: span 2;
}

.output {
  font-size: 3rem;
  color: #cfa;
  grid-column: 1 / -1;
  background: radial-gradient(ellipse at 280px 40px, #0f470f, #052105);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  word-wrap: break-word;
  word-break: break-all;
}

sup {
  font-size: .6em;
  position: relative;
  top: -3px;
}