$color-back-transparent: #fffb;
$color-back-hover: #00800055;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;

  background-color: aliceblue;
  background-image: url("./assets/images/back.jpg");
  background-size: cover;
  background-position: bottom;
}

h1 {
  position: absolute;
  top: -38px;
  left: 0;

  .logo_blue {color: #52c84b;}
  .logo_red {color: #00cbff;}
  .logo_blue, .logo_red {
    text-shadow: 1px 1px 3px black;
  }
  -webkit-animation: flicker-1 4s linear infinite both;
}

h2 {
  font-size: 16px;
  padding-left: 6px;
  width: 69px;
  user-select: none;

  &:hover {
    background-color: $color-back-hover;
  }
}

@-webkit-keyframes flicker-1 {
  0%,
  100% {filter: saturate(100%);}
  41.99% {filter: saturate(100%);}
  42% {filter: saturate(0);}
  43% {filter: saturate(0);}
  43.01% {filter: saturate(100%);}
  47.99% {filter: saturate(100%);}
  48% {filter: saturate(0);}
  49% {filter: saturate(0);}
  49.01% {filter: saturate(100%);}
}

main {
  position: relative;
  display: flex;
  column-gap: 20px;

  width: calc(100% - 80px);
  max-width: 944px;
  min-height: 688px;
  margin: 40px auto;
}

.gamewrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: calc(100vh - 84px);
  width: 100%;
}

.inputswrapper {
  display: flex;
  column-gap: 20px;
  height: 100%;
  max-height: calc(100vh - 257px);
}

#levels {
  height: calc(100vh - 84px);
  width: 80px;
  border: 2px solid green;
  border-radius: 5px;
  overflow-y: auto;
  background-color: $color-back-transparent;

  button {
    width: 60px;
    margin: 20px 2px;
    border: 2px solid green;
    border-radius: 5px;
  }
}

.level_active {
  color: white;
  background-color: lightgrey;
}

.level_check_not_solved {color: transparent;}
.level_check_solved {color: #00e000;}
.level_check_cheated {color: orange;}

.csswrapper, .htmlwrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  border-radius: 5px;
  width: 50%;
  height: 100%;
  background-color: $color-back-transparent;
  font-family: 'Roboto Mono', monospace;
}

.cssheader, .htmlheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  min-height: 25px;
  background-color: green;
  color: white;
  font-size: 12px;
  padding: 0 5px;
}

.cssnumbers, .htmlnumbers {
  background-color: #79ba79;
  color: #484848;
  width: 30px;
  line-height: 23px;
  padding-right: 5px;
  text-align: right;
}

.csseditorwrapper, .htmlviewerwrapper {
  display: flex;
  overflow-y: hidden;
}

.cssinputs {
  position: relative;
  word-wrap: break-word;
  width: 100%;
  line-height: 23px;
  padding-left: 5px;

  button {
    position: absolute;
    right: 0;
    height: 23px;
    width: 50px;
  }
}

#htmlview {
  width: 100%;

  &>* {
    height: 23px;
    padding-top: 2px;
    padding-left: 5px;
  }

  .t1 {padding-left: 25px;}
  .t2 {padding-left: 45px;}

  div:hover {
    background-color: $color-back-hover;
    user-select: none;
  }
}

.highlight-line {background-color: $color-back-hover;}

#display {
  display: flex;
  column-gap: 5px;
  justify-content: center;
  align-items: flex-end;
  border: 2px solid green;
  border-radius: 5px;
  height: 154px;
  min-height: 154px;
  padding-bottom: 1px;
  background-color: white;
  background-image: url("./assets/images/tile.jpg");
  background-repeat: repeat-x;
  background-size: 150px;
}

footer {
  position: absolute;
  right: 0;
  bottom: -30px;
  color: white;
  text-shadow: 0 0 2px black;

  img {
    height: 14px;
    filter: drop-shadow(0px 0px 3px white);
  }

  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: grey;
    }
  }
}

#cssinput {
  position: absolute;
  display: inline-block;
  margin: 0;
  height: 23px;
  width: calc(100% - 50px);
  border: none;
  resize: none;
  font-family: inherit;
  padding: 2px 5px 0 5px;
}

monkey, sheep, cage, crown, fence, stone {
  position: relative;
  display: inline-block;
  img {
    position: relative;
    &:hover {
      filter: drop-shadow(0px 0px 5px #e0e001) drop-shadow(0px 0px 3px #1aff00);
    };
  }
}

.highlight>img{
  filter: drop-shadow(0px 0px 5px #e0e001) drop-shadow(0px 0px 3px #1aff00);
}

monkey {width: 60px;}
monkey.baby {width: 40px;}
sheep {width: 98px;}
sheep.baby {width: 65px;}
crown {
  width: 37px;
  top:0;
  z-index: 200;
  img {z-index: 200;}
}
cage, fence, stone {
  width: 70px;
  top: 0;
  img {z-index: 100;}
}

stone {
  height: 20px;
  z-index: 1;
  img {z-index: 1;}
}
monkey, sheep { z-index: 10; }


.tooltip {
  position: absolute;
  width: max-content;
  margin: auto;
  left:-900px;
  right:-900px;
  top: -33px;
  z-index: 200;

  padding: 3px 5px;
  background-color: #fffe;
  border: 1px solid #58bc00;
}

dialog {
  width: 300px;
  height: 200px;
  margin: auto;
}

dialog[open] {
  display: flex;
}

dialog img {
  position: absolute;
  top: 5px;
  right: 5px;

  &:hover {
    opacity: 0.5;
  }
}

.dialog-content {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,-10%,0) scale3d(1,1,1);}
  100% {transform: translate3d(0,-20%,0) scale3d(1,.95,1);}
}
.jump {
  transform-origin: 100% 100%;
  animation: jump .5s ease-out alternate infinite;
}

.CodeMirror {
  position: absolute;
  height: 23px;
  width: calc(100% - 55px);
  background-color: transparent;
}

.CodeMirror-lines {padding: 0;}
.CodeMirror pre.CodeMirror-placeholder {
  animation: blink 500ms infinite alternate;
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0.3; }
}

.shake {
  animation: shake 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% { transform: rotate(2deg); }
  20%, 40%, 60% { transform: rotate(-4deg); }
  30%, 50%, 70% { transform: rotate(4deg); }
  80% { transform: rotate(-2deg); }
  90% { transform: rotate(2deg); }
}

.fly-out {
  animation: fly-out 1.5s both;
}

@keyframes fly-out {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  5% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }
  15% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  25% {
    transform: translateY(-38px);
    animation-timing-function: ease-in;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  52% {
    transform: translateY(-75px);
    animation-timing-function: ease-in;
  }
  70% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  85% { opacity: 1; }
  100% {
    transform: translateY(-800px);
    opacity: 0;
  }
}

@media screen and (max-width: 830px) {
  main {
    flex-direction: column;
    row-gap: 20px;
  }
  #levels {
    width: 100%;
    height: inherit;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    & button {
      margin: 0 100%;
      min-width: 120px;
      height: 60px;
    }
  }

  h2 {
    text-align: center;
    width: 60px;
    height: 60px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gamewrapper {
    height: 480px;
  }
  .inputswrapper {
    height: 307px;
  }

}

@media screen and (max-width: 770px) {
  .inputswrapper {
    flex-direction: column;
    row-gap: 20px;
  }
  .csswrapper, .htmlwrapper {
    width: 100%;
  }
  .csswrapper {
    height: 170px;
  }

  .gamewrapper {
    height: 670px;
  }
}
