body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  height: 100vh;
  background-image: url("img/back1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

textarea, input {
  width: 300px;
  background-color: #fffb;
}

input {
  margin: 10px 0;
}

.wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #c8c8c8 50%, #c8c8c8 50%, rgba(0, 0, 0, 0) 100%);
  transition: bottom 0.8s;
}
.wrapper-hidden {
  bottom: -100%;
}

.kbd {
  user-select: none;
  width: 480px;
  margin: -30px auto 0;
  background-color: #c3c3c3;
  border-radius: 15px;
  padding: 7px;
}
.kbd-row {
  display: flex;
  justify-content: space-between;
}
.kbd-key {
  width: 30px;
  height: 30px;
  margin: 2px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  border: 1px solid gray;
  border-radius: 15px;
  box-shadow: grey 2px 2px 2px;
}
.kbd-key.kbd-special {
  background-color: #f0f0f0;
}
.kbd-key:hover {
  border-color: white;
}
.kbd-key:active, .kbd-key.pressed {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: none;
  background-color: #a0a0a0;
}
.kbd-space {
  width: 134px;
}
.kbd-shift {
  width: 64px;
}
.kbd-wide {
  width: 46px;
}

@media only screen and (min-width: 1020px) {
  body {
    font-size: 24px;
    align-items: flex-start;
  }

  .inputs-wrapper {
    margin-top: 50px;
  }

  textarea, input {
    width: 1000px;
    background-color: #fffb;
    font-size: 18px;
  }

  .kbd {
    width: 1000px;
    transform: rotate3d(1, 0, 0, 15deg);
    perspective: 70rem;
    perspective-origin: 50% 50%;
  }
  .kbd-key {
    width: 60px;
    height: 60px;
    margin: 5px 1px;
    border-radius: 30px;
  }
  .kbd-space {
    width: 300px;
  }
  .kbd-shift {
    width: 154px;
  }
  .kbd-wide {
    width: 106px;
  }
}

/*# sourceMappingURL=styles.css.map */
